<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="titulo">
        <h1>Gorilla Ice Fit</h1>
    </div>
    <div class="container">
        <div class="container-left">
         <%= image_tag "banner.png", alt: "Treino" %>
        </div>

        <div class="container-rigth">
        <div class="logo">
            <%= image_tag "logo.png", alt: "Logo"%>
        </div>
            
            <h1>Login</h1>
            
            <%= form_with url: login_path, method: :post, local: true do |f| %>
            <div class="input">
                <%= f.email_field :email, placeholder: "Digite seu email" %><br>
                <%= f.password_field :senha, placeholder: "Digite sua senha" %>
            </div>

            <div class="button">
                <%= f.submit "Entrar" %>
            <button> <%= link_to "Cadastrar", cadastrar_path%> </button>
            </div>
            <% end %>
        </div>
    </div>

</body>
</html>

<% content_for :scripts do %>
  <%= stylesheet_link_tag "login_cadastro/login" %>
<% end %>